<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            div.d-flex.justify-content-center.align-items-center
                h1.d-inline Iniciar Sesión en UpTask
                p.d-inline.mx-1 V1.4
            
            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error

            form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                .campo.campo-is
                    //- label(for="email") E-mail:
                    input(type="text" name="email" placeholder="Tu Email" )
                .campo.campo-is
                    //- label(for="password") Password:
                    input(type="password" name="password" placeholder="Tu Password" )
                
                .campo.acciones.campo-is
                    div.d-flex 
                        a(href="https://github.com/juanOctavioCastrogiovanni/upTask" target="_blank" data-hover="Hello, this is the tooltip")
                            button.btn.btn-dark(type='button') 
                                i.fab.fa-github      
                                
                        a(href="https://www.juanoctaviocastrogiovanni.com.ar/" target="_blank" alt="Hello, this is the tooltip")
                            button.btn.btn-info.mx-1(type='button') 
                                i.fas.fa-user-tie      
                    .campo.enviar.campo-is
                        input.boton(type="submit" value="Iniciar Sesión")
                .campo.acciones.campo-is
                    a(href="/crear-cuenta") Crea una gratis
                    a(href="/reestablecer") Restaurar contraseña