<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            div.d-flex.justify-content-center.align-items-center
                h1.d-inline Iniciar Sesión en UpTask
                p.d-inline.mx-1 v1.1
            
            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error

            form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                .campo.campo-is
                    //- label(for="email") E-mail:
                    input(type="text" name="email" placeholder="Tu Email" )
                .campo.campo-is
                    //- label(for="password") Password:
                    input(type="password" name="password" placeholder="Tu Password" )
                .campo.enviar.campo-is
                    input.boton(type="submit" value="Iniciar Sesión")
                .campo.acciones.campo-is
                    a(href="/crear-cuenta") Crea una gratis
                    a(href="/reestablecer") Restaurar contraseña